body {
    background: #352f5b;
  }
  .container {
    max-width: 800px;
  }
  input[type="text"],
  input[type="text"]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 800px;
  }
  .todos li {
    background: #423a6f;
  }
  .delete {
    font-size: x-large;
  }
  .delete:hover {
    cursor: pointer;
    color: red;
  }
  /* #statusOptions {
    width: 150px;
  } */
  .currentStatus {
    font-size: x-large;
    font-weight: bolder;
    min-width: 150px;
  }
  .todoName {
    font-size: larger;
    font-weight: bolder;
  }
  